body
{
    font-family: Forte;
    font-size: 20px;
    /* line-height: 1; */
}

.button
{
    background-color: indigo;
    color:lavender;
    padding: 16px 32px;
    border: 0;
}

.button:hover
{
    background-color: lavender;
    color: indigo;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.content
{
    background-color: white;
    margin: 12% auto;
    width: 40%;
    box-shadow: 5px 5px 5px lightgrey;
    padding: 12px;
    animation-name: modalopen;
    animation-duration: 2s;
}

.closebtn
{
    color: gray;
    float: right;
    font-size: 30px;
}

.closebtn:hover , .closebtn:focus
{
    color: red;
    cursor: pointer;
}

@keyframes modalopen
{
    from { opacity: 0 }
    to { opacity: 1 }
}